<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script> 
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <section class="container">
        <h2>jQuery Ajax 데이터 송수신 메소드 - ajax()</h2>
        <article class="data">
            <div><h2>AJAX Data Trans</h2></div>
            <form>
                <input type="text" id="id" name="id">
                <input type="hidden" id="idck" name="idck" value="no">
            </form>
            <button type="button" id="btn1">회원 정보 조회</button>
        </article>
        <div id="msg"></div>
        <ul id="result"></ul>
    </section>
    <script>
        $(document).ready(function(){
            $("#btn1").click(function(){
                var id = $("#id").val();
                $("#result").empty();
                if(id==""){
                    alert("아이디가 입력되지 않았습니다.");
                    return false;
                }
                $.ajax({
                    url:"/ajax/getUser.do?id="+id,
                   // data:id,
                    contentType:'application/json;charset=utf-8',
                    method:"GET",
                    dataType:"json"
                })
                .done(function(res){
                    console.log(res);
                    $.each(res, function(key, value){
                    $("#result").append("<li>"+ key + " : "+ value + "</li>" + "<br>");
                    });
                })
                .fail(function(xhr, status, errorThrown){
                    $("#msg").text("해당 회원의 정보를 불러오지 못했습니다.");
                })
                .always(function(xhr, status){

                });
            });
        });
    </script>
</body>
</html>